# Node modules
node_modules/

# Build output
dist/
build/

# Logs
*.log

# Environment variables
.env

# macOS system files
.DS_Store

# IntelliJ IDEA files
*.iml
.idea/

# npm package lock
package-lock.json
yarn.lock

# Vite cache
.vite/